
# Compiled artefacts ----
*.class
*.com
*.dll
*.dSYM
*.dylib
*.exe
*.o
*.pyc
*.pyo
*.so


# Temporary Files ----
*~
*#
*.bak
*.tmp
*.swp


# Autoconf ----
autom4te.cache/
config.log
config.status


# Spark ----
derby.log
log4j.spark.log
spark-warehouse


# R ----
*.Rcheck
.RData
.Rdata
.Rhistory
.Rproj.user


# Python ----
.venv
.ipynb_checkpoints


# Javascript ----
node_modules


# Shell ----
.bash_history
.zsh_history

# Miscellaneous ----
*-d
*-d.pid
.DS_Store
._*
.cache
.clangd
.gdb_history
.internal
.metadata
.settings
compile_commands.json
logs
tags

