# Compiled artefacts ----
*.class
*.com
*.dll
*.dylib
*.exe
*.o
*.pyc
*.pyo
*.so

# Temporary Files ----
*~
*#
*.bak
*.tmp
*.swp

# Autoconf ----
autom4te.cache/
config.log
config.status

# Miscellaneous ----
.DS_Store
.Rhistory
._*
.clangd
.metadata
.settings
.vscode
compile_commands.json
tags

