
# Compiled artefacts ----
*.class
*.com
*.dll
*.dSYM
*.dylib
*.exe
*.o
*.pyc
*.pyo
*.so


# Temporary Files ----
*~
*#
*.bak
*.tmp
*.swp


# Autoconf ----
autom4te.cache/
config.log
config.status


# Spark ----
derby.log
log4j.spark.log
spark-warehouse


# R ----
.RData
.Rdata
.Rhistory


# Miscellaneous ----
*-d
*-d.pid
.DS_Store
.Rhistory
._*
.cache
.clangd
.metadata
.settings
.vscode
compile_commands.json
internal
logs
tags

